prefect
prefect-aws
httpx
GitPython
pymongo
psutil
setuptools
dotenv
wheel
plotly
kaleido
numpy
requests
pydantic-ai
logfire
click
demjson3
tiktoken
tinydb
aiotinydb
BetterJSONStorage
uvicorn
crawl4ai
chromadb
click